body {
    background-color: lightskyblue;
  }
  
  h1 {
    color: darkviolet;
    text-align: center;
    border-bottom: 6px solid pink;
    margin-bottom: 40px;
    font-size: 70px;
  }

  
 h3 {
    font-family: verdana;
    font-size: 20px;
  }

  p {
      font-family: 'Times New Roman', Times, serif;
      font-size: 17px;
      color: white;
  }

.randNum {
    margin-top: 40px;
}

  #number-bank {
      font-size: 60px;
      padding: 10px;
      color: white;
  }

  #total-score {
      font-size: 60px;
      padding: 10px;
      color: white;
  }

#loss-count {
  color: darkviolet;
}

#win-count {
  color: darkviolet;
}

  img {
      height: 250px;
      width: auto;
      margin: 20px;
      float: left;
  }